<app-nav-bar></app-nav-bar>
<div class="row" *ngIf="recipe" style="margin-top: 5%;">
    <div class="col-6">
      <img src="{{recipe.url}}" alt="{{recipe.name}}" class="img-fluid w-100" />
    </div>
    <div class="col-4">
      <h3>{{recipe.name}}</h3>
      <div>
        <div class="mt-5">
          <h4>Instruction</h4>
          <p>{{recipe.rule}}</p>
        </div>
        <div *ngFor="let ingredient of recipe.ingredients">
            <ol class="ingredient-list">
                <li>{{ingredient}}</li>    
            </ol>
        </div>
        <button class="btn-outline-success" (click)="onDelete(recipe.id)" style="margin-right:5%; margin-top: 5%; border-radius: 15px; width: 100px;background-color: white; color: green"><b>წაშლა</b></button>
        <button class="btn-outline-success" (click)="onEdit(recipe)" style="border-radius: 15px; width: 100px; background-color: white; color: green"><b>შეცვლა</b></button>
      </div>
    </div>
    
  </div>